In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("D:\Downloads\Roll Call SE, TE _ BE Mech AY 2017-18.xlsx")

In [3]:
df

    Roll No.               Name of Student
0          1         AIGALIKAR GIRI SUDHIR
1          2         APALE SAHIL JAYANTRAO
2          3                    ARPIT SHAH
3          4         BANDGAR AKSHAY SAMPAT
4          5         BHUWAD SANKET SANTOSH
..       ...                           ...
59        60    SALUNKE SHUBHAM BHASKARRAO
60        61  WATPADE SHUBHAM DNYANESHWAR
61        62     SWARALI SADASHIV KHADTARE
62        63          YADAV DHANESH TANAJI
63        64    PATIL PULKESHI BHALCHANDRA

[64 rows x 2 columns]

In [4]:
df['Name of Student'] = [i.title() for i in df['Name of Student']]

In [5]:
df.head()

   Roll No.        Name of Student
0         1  Aigalikar Giri Sudhir
1         2  Apale Sahil Jayantrao
2         3             Arpit Shah
3         4  Bandgar Akshay Sampat
4         5  Bhuwad Sanket Santosh

In [6]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

def te_students_attendance112(n, start_date, end_date):
    
    students = range(n)
    
    cal = USFederalHolidayCalendar()
    holidays = cal.holidays(start=start_date, end=end_date)
    
    custom_business_day = CustomBusinessDay(weekmask='Tue Wed Thu Fri', holidays=holidays)

    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day)
    
    attendance_records1 = {}
    
    for student in students:
        attendance_records1[student] = []
        
        for day in date_range:
            attendance_records1[student].append('P' if random.random() < 0.85 else 'A')
                
    df = pd.DataFrame.from_dict(attendance_records1, orient='index', columns=date_range)
    df['Present'] = df.apply(lambda x: x[x == 'P'].count(), axis=1)
    df['Absent'] = df.apply(lambda x: x[x == 'A'].count(), axis=1)
    df['%Att'] = round(df['Present'] / len(date_range) * 100,2)
    df['UT1'] = [random.randint(10,30) for i in range(0,n)]
    df['PREL'] = [random.randint(26, 65) for i in range(0, n)]
     
    return df

In [7]:
df11 = te_students_attendance112(64, '2017-06-15', '2017-09-29')

In [8]:
df11.head()

,2017-06-15 00:00:00,2017-06-16 00:00:00,2017-06-20 00:00:00,2017-06-21 00:00:00,2017-06-22 00:00:00,2017-06-23 00:00:00,2017-06-27 00:00:00,2017-06-28 00:00:00,2017-06-29 00:00:00,2017-06-30 00:00:00,...,2017-09-22 00:00:00,2017-09-26 00:00:00,2017-09-27 00:00:00,2017-09-28 00:00:00,2017-09-29 00:00:00,Present,Absent,%Att,UT1,PREL
0,P,P,P,A,P,P,P,P,P,P,...,A,P,P,P,P,53,8,86.89,17,46
1,P,P,P,A,P,P,P,P,P,A,...,P,P,A,P,A,49,12,80.33,30,36
2,P,P,P,P,P,P,P,P,P,P,...,P,A,P,P,P,52,9,85.25,23,56
3,P,P,A,A,P,P,A,P,P,P,...,P,P,P,P,P,47,14,77.05,25,56
4,P,P,A,P,P,P,P,P,P,P,...,A,A,P,P,P,52,9,85.25,12,54

In [9]:
df11.loc[:,:'PREL']

,2017-06-15 00:00:00,2017-06-16 00:00:00,2017-06-20 00:00:00,2017-06-21 00:00:00,2017-06-22 00:00:00,2017-06-23 00:00:00,2017-06-27 00:00:00,2017-06-28 00:00:00,2017-06-29 00:00:00,2017-06-30 00:00:00,...,2017-09-22 00:00:00,2017-09-26 00:00:00,2017-09-27 00:00:00,2017-09-28 00:00:00,2017-09-29 00:00:00,Present,Absent,%Att,UT1,PREL
0,P,P,P,A,P,P,P,P,P,P,...,A,P,P,P,P,53,8,86.89,17,46
1,P,P,P,A,P,P,P,P,P,A,...,P,P,A,P,A,49,12,80.33,30,36
2,P,P,P,P,P,P,P,P,P,P,...,P,A,P,P,P,52,9,85.25,23,56
3,P,P,A,A,P,P,A,P,P,P,...,P,P,P,P,P,47,14,77.05,25,56
4,P,P,A,P,P,P,P,P,P,P,...,A,A,P,P,P,52,9,85.25,12,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,P,A,P,P,A,P,P,P,P,P,...,P,P,P,P,P,54,7,88.52,24,46
60,P,P,P,P,P,P,P,P,P,P,...,A,P,P,P,A,53,8,86.89,29,34
61,P,P,P,P,P,P,A,P,P,P,...,P,P,P,P,P,54,7,88.52,28,65
62,P,P,P,P,P,P,P,P,P,P,...,A,P,P,P,P,54,7,88.52,23,52
63,P,P,P,P,P,P,P,A,P,P,...,A,P,P,P,P,54,7,88.52,17,65

In [10]:
Final_df = pd.concat([df, df11.loc[:,:'PREL']], axis = 1)

In [11]:
Final_df

,Roll No.,Name of Student,2017-06-15 00:00:00,2017-06-16 00:00:00,2017-06-20 00:00:00,2017-06-21 00:00:00,2017-06-22 00:00:00,2017-06-23 00:00:00,2017-06-27 00:00:00,2017-06-28 00:00:00,...,2017-09-22 00:00:00,2017-09-26 00:00:00,2017-09-27 00:00:00,2017-09-28 00:00:00,2017-09-29 00:00:00,Present,Absent,%Att,UT1,PREL
0,1,Aigalikar Giri Sudhir,P,P,P,A,P,P,P,P,...,A,P,P,P,P,53,8,86.89,17,46
1,2,Apale Sahil Jayantrao,P,P,P,A,P,P,P,P,...,P,P,A,P,A,49,12,80.33,30,36
2,3,Arpit Shah,P,P,P,P,P,P,P,P,...,P,A,P,P,P,52,9,85.25,23,56
3,4,Bandgar Akshay Sampat,P,P,A,A,P,P,A,P,...,P,P,P,P,P,47,14,77.05,25,56
4,5,Bhuwad Sanket Santosh,P,P,A,P,P,P,P,P,...,A,A,P,P,P,52,9,85.25,12,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,60,Salunke Shubham Bhaskarrao,P,A,P,P,A,P,P,P,...,P,P,P,P,P,54,7,88.52,24,46
60,61,Watpade Shubham Dnyaneshwar,P,P,P,P,P,P,P,P,...,A,P,P,P,A,53,8,86.89,29,34
61,62,Swarali Sadashiv Khadtare,P,P,P,P,P,P,A,P,...,P,P,P,P,P,54,7,88.52,28,65
62,63,Yadav Dhanesh Tanaji,P,P,P,P,P,P,P,P,...,A,P,P,P,P,54,7,88.52,23,52
63,64,Patil Pulkeshi Bhalchandra,P,P,P,P,P,P,P,A,...,A,P,P,P,P,54,7,88.52,17,65

In [12]:
Final_df.to_csv("Sem_att.csv")

First Monthly Attendance

In [13]:
m1 = te_students_attendance112(64, '2017-06-15', '2017-07-15')

In [14]:
first_month_atte = pd.concat([df, m1], axis=1)

In [15]:
first_month_atte.to_csv('First_Month_Att.csv')

Second Monthly Attendance

In [16]:
m2 = te_students_attendance112(64, '2017-07-16', '2017-08-16')

In [17]:
second_month_att = pd.concat([df, m2], axis=1)

In [18]:
second_month_att

,Roll No.,Name of Student,2017-07-18 00:00:00,2017-07-19 00:00:00,2017-07-20 00:00:00,2017-07-21 00:00:00,2017-07-25 00:00:00,2017-07-26 00:00:00,2017-07-27 00:00:00,2017-07-28 00:00:00,...,2017-08-09 00:00:00,2017-08-10 00:00:00,2017-08-11 00:00:00,2017-08-15 00:00:00,2017-08-16 00:00:00,Present,Absent,%Att,UT1,PREL
0,1,Aigalikar Giri Sudhir,P,P,P,P,P,A,A,A,...,P,P,P,A,P,14,4,77.78,29,47
1,2,Apale Sahil Jayantrao,P,P,P,P,P,P,P,P,...,P,P,P,P,P,18,0,100.00,12,41
2,3,Arpit Shah,P,P,P,P,P,P,A,P,...,A,P,P,P,A,15,3,83.33,12,34
3,4,Bandgar Akshay Sampat,P,P,P,A,P,P,P,P,...,P,P,P,P,P,17,1,94.44,23,49
4,5,Bhuwad Sanket Santosh,A,P,P,P,P,P,P,A,...,P,P,P,P,P,15,3,83.33,19,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,60,Salunke Shubham Bhaskarrao,A,P,P,P,P,P,P,P,...,A,P,P,P,A,13,5,72.22,25,47
60,61,Watpade Shubham Dnyaneshwar,P,P,P,P,P,P,P,P,...,P,P,P,P,P,17,1,94.44,22,55
61,62,Swarali Sadashiv Khadtare,A,P,P,P,P,P,A,P,...,P,A,P,P,P,14,4,77.78,12,42
62,63,Yadav Dhanesh Tanaji,P,P,P,P,P,P,P,P,...,P,P,P,P,P,17,1,94.44,21,54
63,64,Patil Pulkeshi Bhalchandra,P,P,P,P,P,P,P,P,...,P,A,P,P,P,16,2,88.89,10,32

In [19]:
second_month_att.to_csv('Second_Month_Att.csv')