In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("D:\Downloads\TE-3_18_19.xlsx")
df

    ROLL NO                 NAME OF STUDENTS
0         1          NANGARE ABHISHEK TANAJI
1         2          MAHAJAN ADITYA RAJENDRA
2         3          MORADE AJINKYA RAJENDRA
3         4          SAUDAGAR AVINASH DAGADU
4         5            PATIL DHANANJAY SUNIL
5         6              ADHAV SAYALI SANJAY
6         7             SHINDE NIKHIL SHARAD
7         8           SHARMA NISHANK SANTOSH
8         9        GAJAKOSH NITESH TULSHIRAM
9        10               KOKARE OMKAR ASHOK
10       11            YADAV OMKAR BABASAHEB
11       12  KULKARNI PRATHAMESH BHALCHANDRA
12       13          PATIL PRITESH PRABHAKAR
13       14              SHETE SAIRAJ SHARAD
14       15          PANASKAR SANDESH SURESH
15       16         SHINDE SAURABH BADASHAHA
16       17    ABHISHEK SHRIKRUSHNA MADANKAR
17       18             MAGAR SHUBHAM DEEPAK
18       19            PATIL SHUBHAM SHIVAJI
19       20           DHUMAL SIDDHESH DHUMAL
20       21            WADKAR SMITHIL MARUTI
21       22             GAIKWAD SURAJ BHARAT
22       23        BASVEKAR MUKESH BADRINATH
23       24         SHUBHAM SHAILENDRA BOLLA
24       25            DESHMANE ANIKET ASHOK
25       26             DHAVALE SEJAL ANKUSH
26       27              GAIKWAD ANIKET RAJU
27       28                HARIP AMOGH SUHAS
28       29      SARVADE ABHIJEET SHATRUGHNA
29       30            JAISWAL SHUBHAM VIJAY
30       31             KAKADE DIVYA VISHWAS
31       32             KARAD BALAJI SITARAM
32       33           LOHAR SAMIKSHA SANTOSH
33       34        CHOUDHARY MAMATA SHIVSGAR
34       35             SHIVADE DIPAK CHHOTU
35       36          WAGHMARE PRAJWAL KISHOR
36       37           MULGE MAHADEV CHENNAPA
37       38           JAGADALE AKSHAY SANJAY
38       39             SARPE MUKESH PRADEEP
39       40         DHERE BHOOSHAN PAMESHWAR

In [3]:
df['NAME OF STUDENTS'] = [i.title() for i in df['NAME OF STUDENTS']]

In [4]:
df.head()

   ROLL NO         NAME OF STUDENTS
0        1  Nangare Abhishek Tanaji
1        2  Mahajan Aditya Rajendra
2        3  Morade Ajinkya Rajendra
3        4  Saudagar Avinash Dagadu
4        5    Patil Dhananjay Sunil

**BATCH A PRACTICAL ATTENDANCE**

In [5]:




import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

def te_students_attendance31(n, start_date, end_date):
    
    students = range(n)
    
    cal = USFederalHolidayCalendar()
    holidays = cal.holidays(start=start_date, end=end_date)
    
    custom_business_day = CustomBusinessDay(weekmask='Thu', holidays=holidays)

    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day)
    
    completion_records1 = {}
    practical_attendance = {}

    for student in students:
        
        completion_records1[student] = []
        practical_attendance[student] = []
        
                
        for day in range(8):
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
        
        for day in range(8):          
            completion_records1[student].append('C' if random.random() < .85 else 'NC')
            
        
    
    
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=range(1,9))
    df31['Present1'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent1'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att1'] = round(df31['Present1'] / 8 * 100,2)
    df21 = pd.DataFrame.from_dict(completion_records1, orient='index', columns=list("ABCDEFGH"))
    df31['EXP1'] = [random.randint(6,10) for i in range(0,n)]
    df31['EXP2'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP3'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP4'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP5'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP6'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP7'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP8'] = np.random.choice(df31['EXP1'], size = n)
    
    
    df = pd.concat([df31, df21], axis = 1)

    return df

In [6]:
batch_a = pd.concat([df[0:20], te_students_attendance31(20, '2018-12-24', '2019-03-19')], axis = 1)

In [7]:
batch_a.to_csv("Batch_A.csv")

**BATCH B PRACTICAL ATTENDANCE**

In [8]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

def te_students_attendance32(n, start_date, end_date):
    
    students = range(20,40)
    
    cal = USFederalHolidayCalendar()
    holidays = cal.holidays(start=start_date, end=end_date)
    
    custom_business_day = CustomBusinessDay(weekmask='Thu', holidays=holidays)

    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day)
    
    completion_records1 = {}
    practical_attendance = {}

    for student in students:
        
        completion_records1[student] = []
        practical_attendance[student] = []
        
                
        for day in range(8):
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
        
        for day in range(8):          
            completion_records1[student].append('C' if random.random() < .85 else 'NC')
            
        
    
    
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=range(1,9))
    df31['Present1'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent1'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att1'] = round(df31['Present1'] / 8 * 100,2)
    df21 = pd.DataFrame.from_dict(completion_records1, orient='index', columns=list("ABCDEFGH"))
    df31['EXP1'] = [random.randint(6,10) for i in range(0,n)]
    df31['EXP2'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP3'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP4'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP5'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP6'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP7'] = np.random.choice(df31['EXP1'], size = n)
    df31['EXP8'] = np.random.choice(df31['EXP1'], size = n)
    
    
    df = pd.concat([df31, df21], axis = 1)

    return df

In [9]:
batch_b = pd.concat([df[20:40], te_students_attendance32(20, '2018-12-24', '2019-03-19')], axis = 1)

In [10]:
batch_b.to_csv("Batch_B.csv")

In [11]:
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar

# Generate a date range for the year 2017
dates_2017 = pd.date_range(start='2018-12-24', end='2019-03-19')

# Get the day of the week for each date
weekdays = dates_2017.weekday

# Get the dates of Saturdays, Sundays, and holidays
fridays = dates_2017[weekdays == 6]
tuesdays = dates_2017[weekdays == 5]
wednedays = dates_2017[weekdays == 6]
thursday = dates_2017[weekdays == 5]


cal = USFederalHolidayCalendar()
holidays = cal.holidays(start='2018-12-24', end='2019-03-19')

In [12]:
fridays

DatetimeIndex(['2018-12-30', '2019-01-06', '2019-01-13', '2019-01-20',
               '2019-01-27', '2019-02-03', '2019-02-10', '2019-02-17',
               '2019-02-24', '2019-03-03', '2019-03-10', '2019-03-17'],
              dtype='datetime64[ns]', freq=None)

In [13]:
thursday

DatetimeIndex(['2018-12-29', '2019-01-05', '2019-01-12', '2019-01-19',
               '2019-01-26', '2019-02-02', '2019-02-09', '2019-02-16',
               '2019-02-23', '2019-03-02', '2019-03-09', '2019-03-16'],
              dtype='datetime64[ns]', freq=None)

In [14]:
wednedays

DatetimeIndex(['2018-12-30', '2019-01-06', '2019-01-13', '2019-01-20',
               '2019-01-27', '2019-02-03', '2019-02-10', '2019-02-17',
               '2019-02-24', '2019-03-03', '2019-03-10', '2019-03-17'],
              dtype='datetime64[ns]', freq=None)

In [15]:
tuesdays

DatetimeIndex(['2018-12-29', '2019-01-05', '2019-01-12', '2019-01-19',
               '2019-01-26', '2019-02-02', '2019-02-09', '2019-02-16',
               '2019-02-23', '2019-03-02', '2019-03-09', '2019-03-16'],
              dtype='datetime64[ns]', freq=None)