In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("D:\Downloads\TE-3_18_19.xlsx")
df

    ROLL NO                 NAME OF STUDENTS
0         1          NANGARE ABHISHEK TANAJI
1         2          MAHAJAN ADITYA RAJENDRA
2         3          MORADE AJINKYA RAJENDRA
3         4          SAUDAGAR AVINASH DAGADU
4         5            PATIL DHANANJAY SUNIL
5         6              ADHAV SAYALI SANJAY
6         7             SHINDE NIKHIL SHARAD
7         8           SHARMA NISHANK SANTOSH
8         9        GAJAKOSH NITESH TULSHIRAM
9        10               KOKARE OMKAR ASHOK
10       11            YADAV OMKAR BABASAHEB
11       12  KULKARNI PRATHAMESH BHALCHANDRA
12       13          PATIL PRITESH PRABHAKAR
13       14              SHETE SAIRAJ SHARAD
14       15          PANASKAR SANDESH SURESH
15       16         SHINDE SAURABH BADASHAHA
16       17    ABHISHEK SHRIKRUSHNA MADANKAR
17       18             MAGAR SHUBHAM DEEPAK
18       19            PATIL SHUBHAM SHIVAJI
19       20           DHUMAL SIDDHESH DHUMAL
20       21            WADKAR SMITHIL MARUTI
21       22             GAIKWAD SURAJ BHARAT
22       23        BASVEKAR MUKESH BADRINATH
23       24         SHUBHAM SHAILENDRA BOLLA
24       25            DESHMANE ANIKET ASHOK
25       26             DHAVALE SEJAL ANKUSH
26       27              GAIKWAD ANIKET RAJU
27       28                HARIP AMOGH SUHAS
28       29      SARVADE ABHIJEET SHATRUGHNA
29       30            JAISWAL SHUBHAM VIJAY
30       31             KAKADE DIVYA VISHWAS
31       32             KARAD BALAJI SITARAM
32       33           LOHAR SAMIKSHA SANTOSH
33       34        CHOUDHARY MAMATA SHIVSGAR
34       35             SHIVADE DIPAK CHHOTU
35       36          WAGHMARE PRAJWAL KISHOR
36       37           MULGE MAHADEV CHENNAPA
37       38           JAGADALE AKSHAY SANJAY
38       39             SARPE MUKESH PRADEEP
39       40         DHERE BHOOSHAN PAMESHWAR

In [3]:
df['NAME OF STUDENTS'] = [i.title() for i in df['NAME OF STUDENTS']]

In [4]:
df.head()

   ROLL NO         NAME OF STUDENTS
0        1  Nangare Abhishek Tanaji
1        2  Mahajan Aditya Rajendra
2        3  Morade Ajinkya Rajendra
3        4  Saudagar Avinash Dagadu
4        5    Patil Dhananjay Sunil

**BATCH A PRACTICAL ATTENDANCE**

In [7]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def lab_students_att_a(n, start_year, start_date, end_date):
    
    students = range(n)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+1])

    custom_business_day = CustomBusinessDay(weekmask='Thu', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
       
    practical_attendance = {}

    for student in students:        
        
        practical_attendance[student] = []        
                
        for day in date_range:
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
            
               
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=date_range)
        
    df31['Present'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att'] = round(df31['Present'] /len(date_range) * 100,1)
    df31['MARKS1'] = [random.randint(6,10) for i in range(0,n)]

    for i, date in enumerate(date_range):
        df31[f'MARKS{i+1}'] = np.random.choice(df31['MARKS1'], size=n)

    df = df31

    return df

In [10]:
d_a = pd.concat([df[0:20], lab_students_att_a(20, 2018, '2018-12-24', '2019-03-19')], axis = 1)
d_a = d_a.set_index("ROLL NO")
d_a.to_excel("D:\\Downloads\\New folder\\2018-19\\SEM_II\\BATCH_A.xlsx")
d_a.to_csv("BATCH_A.csv")

**BATCH B PRACTICAL ATTENDANCE**

In [12]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def lab_students_att_b(n, start_year, start_date, end_date):
    
    students = range(n)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+1])

    custom_business_day = CustomBusinessDay(weekmask='Tue', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
       
    practical_attendance = {}

    for student in students:        
        
        practical_attendance[student] = []        
                
        for day in date_range:
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
            
               
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=date_range)
        
    df31['Present'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att'] = round(df31['Present'] /len(date_range) * 100,1)
    df31['MARKS1'] = [random.randint(6,10) for i in range(0,n)]

    for i, date in enumerate(date_range):
        df31[f'MARKS{i+1}'] = np.random.choice(df31['MARKS1'], size=n)

    df = df31

    return df

In [13]:
d_b = pd.concat([df[0:20], lab_students_att_a(20, 2018, '2018-12-24', '2019-03-19')], axis = 1)
d_b = d_b.set_index("ROLL NO")
d_b.to_excel("D:\\Downloads\\New folder\\2018-19\\SEM_II\\BATCH_B.xlsx")
d_b.to_csv("BATCH_B.csv")