In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("D:\\Downloads\\New folder\\2022-23\\BE-3.xlsx")
df

   Roll No.               Name of Students
0     B5064         NATUSKAR YUVRAJ MILIND
1     B5065           NAVLAKHE NAKUL SUNIL
2     B5066          NIKALJE RUTVIK RAJESH
3     B5067         PANDURE SHUBHAM SANJAY
4     B5068           PATEL PARVEZ DILAWAR
5     B5069         PATIL CHETAN DEEPENDRA
6     B5070             PATIL DARSHAN ANIL
7     B5071              PATIL GEET HARISH
8     B5072           PATIL PRASAD SHIVAJI
9     B5073    PATIL PRASHANT PANDHARINATH
10    B5074      PATIL PREMSING PRITAMSING
11    B5075           PATIL RADHEY SUBHASH
12    B5076         PATIL SUSHANT SAMBHAJI
13    B5077        PATIL YADNYESH RAVIKANT
14    B5078            PETHE SHARAD LAXMAN
15    B5079                  PRANJAL YADAV
16    B5080      PRATIK CHANDRAKANT JADHAV
17    B5081       PURNALE SWAPNIL SAMBHAJI
18    B5082           ROHAN PRAVIN KALWADE
19    B5083          SABALE AJAY BALASAHEB
20    B5084           SANGA NIKHIL SANJEEV
21    B5085          SANKET SUBHASH SHINDE
22    B5086       SATPUTE SHARDUL SAMBHAJI
23    B5087            SHINDE ANIKET MOHAN
24    B5088   SHINDE PRADNYA RAJENDRAKUMAR
25    B5089              SHINDE TEJAS ANIL
26    B5090                    SOHAM KODRE
27    B5091       SOMWANSHI KSHITIJ SANJAY
28    B5092         SONAWANE OMKAR JAYWANT
29    B5093        SONKAMBLE NAGESH BALAJI
30    B5094            TAMBOLI SAHIL ABDUL
31    B5095      THAWALE PIYUSH DATTATRAYA
32    B5096  TIDAKE HRISHIKESH DNYANESHWAR
33    B5097            TOPE VAIBHAV RAMESH
34    B5098       UPASANI VEDANT DHANANJAY
35    B5099       VISHWAJIT NAVANATH PATIL
36    B5100       WALVEKAR CHINMAY HANMANT
37    B5101            YASH RAVINDRA BANDA
38    B5102             ZANJE KUNAL ANKUSH
39    B5103         ZARKAR RUSHIKESH NITIN

In [4]:
df['Name of Students'] = [i.title() for i in df['Name of Students']]

In [5]:
df.head()

  Roll No.        Name of Students
0    B5064  Natuskar Yuvraj Milind
1    B5065    Navlakhe Nakul Sunil
2    B5066   Nikalje Rutvik Rajesh
3    B5067  Pandure Shubham Sanjay
4    B5068    Patel Parvez Dilawar

In [6]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def dal_lab_students_att_a(n, start_year, start_date, end_date):
    
    students = range(n)
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Fri', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
       
    practical_attendance = {}

    for student in students:        
        
        practical_attendance[student] = []        
                
        for day in date_range:
            practical_attendance[student].append('P' if random.random() < 0.9 else 'A')
            
               
    df31 = pd.DataFrame.from_dict(practical_attendance, orient='index', columns=date_range)
        
    df31['Present'] = df31.apply(lambda x: x[x == 'P'].count(), axis=1)
    df31['Absent'] = df31.apply(lambda x: x[x == 'A'].count(), axis=1)
    df31['%Att'] = round(df31['Present'] /len(date_range) * 100,1)
    df31['MARKS1'] = [random.randint(6,10) for i in range(0,n)]

    for i, date in enumerate(date_range):
        df31[f'MARKS{i+1}'] = np.random.choice(df31['MARKS1'], size=n)

    df = df31

    return df

In [4]:
import random
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import holidays

def day_lab_students_att_a(start_year, start_date, end_date):
    
    
    
    # Set the start and end dates
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    # Get the Indian holidays for 2021
    indian_holidays = holidays.IND(years=[start_year, start_year+0])

    custom_business_day = CustomBusinessDay(weekmask='Mon', holidays=indian_holidays)

    # Generate a range of dates between the start and end dates
    date_range = pd.date_range(start=start_date, end=end_date, freq=custom_business_day).strftime("%Y-%m-%d")
    print(date_range)

In [8]:
a = day_lab_students_att_a(2023, '2023-01-25', '2023-05-10')
a

Index(['2023-01-30', '2023-02-06', '2023-02-13', '2023-02-20', '2023-02-27',
       '2023-03-06', '2023-03-13', '2023-03-20', '2023-03-27', '2023-04-03',
       '2023-04-10', '2023-04-17', '2023-04-24', '2023-05-08'],
      dtype='object')

In [11]:
a = [random.randint(68,73) for i in range(1,11)]